; ---------------------------------------------------------------------------
; purpose: bulk load configuration file
; author : Venkat Kaushik
; created: Oct 27 2016
; ---------------------------------------------------------------------------

[DEFAULT]
 
;;; do not change the defaults ;;; ---

user: applhtb
temp_path: /tmp
home_path: /home/%(user)s
;log_path: /var/log/%(user)s/%(user)s.log
log_path: %(user)s.log

;-------------------------------------------------

[bulk_load]

;;; bulk load datatype ;;;---
category: LabResultBulkLoad

;;; define some paths needed for running bulk loader ;;; ---
basepath: %(home_path)s/%(category)s
libpath: %(basepath)s/lib
confpath: %(basepath)s/config

;;; the main java class that bulk loads this datatype ;;; ---
javaclass: com.oracle.hsgbu.hssc.LabResultBulkExecutor

;;; valid sites are read from properties file using SITE_LIST ;;; ---
validation: %(confpath)s/validation.properties
site_list: SITE_LIST

;;; script to source and capture environment variables ;;; ---
environment: /oracle/apps/apps_st/appl/APPSHTBDEV_hssc-cdwr3-htb-d.env
